<div class="card">
  <h2 class="upload-title">PDF hochladen</h2>

  <input type="file" class="file-input" accept="application/pdf"
         (change)="selectPdf($event)" #fileUpload hidden>

  <div class="file-selection-zone" (click)="fileUpload.click()">
    <div class="icon-wrapper">
      <mat-icon>cloud_upload</mat-icon>
    </div>

    <div class="selection-text">
      <ng-container *ngIf="!fileName; else fileSelected">
        <span class="click-text">Klicken zum Auswählen</span>
        <span class="sub-text">PDF Dateien werden unterstützt</span>
      </ng-container>
      <ng-template #fileSelected>
        <span class="selected-file-name">{{ fileName }}</span>
        <span class="change-text">Klicken zum Ändern</span>
      </ng-template>
    </div>
  </div>

  <div class="actions">
    <button mat-flat-button color="primary" class="upload-button"
            (click)="uploadPdf(file)" [disabled]="!fileName">
      PDF Hochladen
    </button>
  </div>
</div>
